body {
  display: flex;
  height: max-content;
  width: 800px;
  margin: 0 auto;
  justify-content: center;
}
.wrapper {
  height: 300px;
  width: 800px;
  border: 5px black;
  margin: 0px;
  text-align: center;
}
.title {
  border: 2px solid black;
}
.title button {
  background-color: green;
  border-radius: 2px;
  color: white;
  height: 10%;
  width: 15%;
}
.flexbox {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid black;
}
.flexbox img {
  border: 2px solid black;
  padding: 5px;
  height: 20%;
  width: 20%;
}
