.container{
    border:5px solid black;
    display: flex;
    justify-content:center;
    width: max-content;
    margin: 0 auto;
    flex-direction:column;
    text-align:center;


}
.title{
    margin: 0;
    padding: 0;
    flex: 1;
    
    

}
.display{
    flex: 3;
    
    margin: 0;
    padding: 0;
    
}
img{
    height: 300px;
    width: 300px;
    border: 5px solid black;
}
img:hover{
    box-shadow: -1px -1px 50px red;
    height: 300.1px;
    width: 300.1px;
}